<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{site_name}}ICP备案信息公示</title>
  <link rel="icon" href="{{site_avatar}}" type="image/png">
  <meta name="keywords" content="{{site_keywords}}">
  <meta name="description" content="{{site_description}}">
  <link rel="stylesheet" type="text/css" href="/templates/default/css/gs.css">
  <link rel="stylesheet" type="text/css" href="/templates/default/css/footer.css">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="container">
  <div class="header">
    <h1>{{site_name}}ICP备案信息公示</h1>
  </div>
  <h2>全部备案</h2>
  <div class="records">
    [[show_icp;status='审核通过']]
  </div>
  <h2>即将加入{{site_name}}ICP的备案</h2>
  <div class="records">
    [[show_icp;status='待审核']]
  </div>

</div>
<div class="footer">
  {{footer_code_raw}}
</div>
</body>
</html>